.image{
    text-align: center;
}

.image img{
    height: 65px;
    margin: 25px 0;
}

h1{
    color: black !important;
    margin-left: 15px;
}

.quest h6{
    color: crimson;
    font-size: 20px;
}

.quest{
    border: black solid 2px;
    padding: 10px 12px ;
    margin: 10px 0;
}


/* Answer */
.header h2{
    color: #010100;
    margin: 10px;
}


.header p{
    color: green !important;
    margin-left: 25px;
}

.answer p{
  
  color: red !important;
  
}
.answer{
    padding: 5px 10px;
    background-color: #010100;
    margin: 5px 5px;
}

